<h3>Edit Post</h3>
<form [formGroup]="updateForm" class="d-flex" (ngSubmit)="onUpdate()">
  <div class="col-5">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        formControlName="title"
        name="title"
      />
      <small id="helpId" class="text-muted">Title</small>
      <div
        *ngIf="
          updateForm.get('title')?.touched && !updateForm.get('title')?.valid
        "
      >
        <div class="alert alert-warning" role="alert">Title is Mandatory</div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="mb-3 mx-2">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        name="description"
        formControlName="description"
      />
      <small id="helpId" class="text-muted">Description</small>
    </div>
    <div
      *ngIf="
        updateForm.get('description')?.touched &&
        !updateForm.get('description')?.valid
      "
    >
      <div class="alert alert-warning" role="alert">
        Description is Mandatory
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="d-grid gap-2">
        <button class="btn btn-primary mx-1" [disabled]="!updateForm.valid">
          Button
        </button>
      </div>
    </div>
  </div>
</form>
