<h3>Add new Post</h3>
<form [formGroup]="postForm" class="d-flex" (ngSubmit)="onSubmit()">
  <!-- <div class="col">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        formControlName="id"
        name="id"
      />
      <small id="helpId" class="text-muted">Id</small>
    </div>
  </div> -->
  <div class="col-5">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        formControlName="title"
        name="title"
      />
      <small id="helpId" class="text-muted">Title</small>
    </div>
    <div
      *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid"
    >
      <div class="alert alert-warning" role="alert">Title is Mandatory</div>
    </div>
  </div>
  &nbsp;
  <div class="col-5">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        name="description"
        formControlName="description"
      />
      <small id="helpId" class="text-muted">Description</small>
    </div>
    <div
      *ngIf="
        postForm.get('description')?.touched &&
        !postForm.get('description')?.valid
      "
    >
      <div class="alert alert-warning" role="alert">
        Description is Mandatory
      </div>
    </div>
  </div>
  &nbsp;
  <div class="col-2">
    <button class="btn btn-primary form-control" [disabled]="!postForm.valid">
      Button
    </button>
  </div>
</form>
